div {
    font-size: 18px;

    p {
        color: blue;
    }

    ul {
        color: green;
    }
}

p {
        font-size: 14px;
        color: red;
}

ul {
    font-size: 14px;
    color: yellow;
}